* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F5F5DC;
}
.sadrzaj {
    margin-left: 200px;
    padding: 20px;
}

.sadrzaj h1 {
    color: black;
    border: 2px solid black;
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
}

.sidebar {
    height: 30vh;
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
    background-color: #c0bcb8;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
}


.logo {
    width: 100px;
    height: auto;
    display: block;
    margin: 1 auto; 
}

.category {
    margin: 20px 0;
}

.category h3 {
    color: #333;
    
}

.category ul {
    list-style-type: none;
    padding: 0;
}

.category ul li {
    margin-bottom: 10px;
    
}
.lesson-content {
    margin-top: 20px;
    
}

.category button {
    margin: 5px;
    
}


.quiz-buttons button {
    padding: 10px;
    margin: 5px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.quiz-buttons button:hover {
    background-color: #45a049; 
}

.sidebar ul li a {
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #4CAF50; 
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px; 
}

.sidebar ul li a:hover {
    background-color: #45a049;
}

/* Responsive prilagodbe */
@media screen and (max-width: 600px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .content {
        margin-left: 200px;
    }
}

#prolog-code {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

#prolog-query {
    width: calc(100% - 110px);
    display: inline-block;
}

button {
    width: 100px;
    display: inline-block;
}

#prolog-output {
    margin-top: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 5px;
}
.task-list {
    list-style-type: none;
    padding: 0;
}

.task {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.task:hover {
    background-color: #f0f0f0;
}

#task-details-modal {
    display: none; 
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:focus {
    color: black;
    text-decoration:none;
    cursor: pointer;
}

