<!DOCTYPE html>
<html>
<head>
    <title>PrologEduApp</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="/">Početna</a></li>
            <li><a href="/lekcije">Lekcije</a></li>
            <li><a href="/kvizovi">Kvizovi</a></li>
            <li><a href="/projekti">Projekti i Primjeri koda</a></li>
        </ul>
    </div>
    
    <div class="sadrzaj">
        <h1>PrologEduApp</h1>
        <img src="/static/prolog_logo.png" alt="Prolog Logo">
        <p>PrologEduApp je aplikacija za učenje programskog jezika Prolog.</p>
        <p>Učenje je organizovano kroz lekcije i kvizove.</p>
        <p>Učenici mogu pratiti svoj napredak kroz aplikaciju.</p>
        
        <h2>Na gumbu Projekti i Primjeri koda možete testirati vaš kod</h2>

    </div>
</body>
</html>
